{% extends 'base.html' %}

{% block Content %}


  <div class="container" id="form_container">

    <div class="row">
      <div class="col-md-offset-2 col-md-9">

      </div>
      <div class="col-md-12 orderSchema">
        <h1 class="centerText">Rohododendron-Haven<br>Bestillingsskjema</h1>
        <div class="formText">
        <p>Vennligst fyll ut din ønsket bestilling fra årets <a href="http://www.rhodobutik.dk/shop/frontpage.html"
                                                                target="_blank">Rohododendron-Haven</a> import.</p>
          <h2 class="formTitleSmaller">Slik gjør du:</h2><p>
        <ol>
          <li>Fyll ut kontaktinformasjon</li>
          <li>Finn frem hvilke planter du ønsker fra <a href="http://www.rhodobutik.dk/shop/frontpage.html"
                                                        target="_blank">Rohododendron-Haven</a></li>
          <li>Legg inn informasjon om hver plante under "Planter"</li>
          <li>Trykk "LEGG TIL NY RAD" for å få et nytt felt til å legge inn planter</li>
          <li>Når feltene er fylt ut, vennligst dobbelsjekk og trykk FULLFØR BESTILLING</li>
        </ol>
        </p>
        </div>
        <hr>
        <h2 class="formTitle">Kontaktinformasjon</h2>
        <form method="post" id="orderForm">{% csrf_token %}
          <div class="col-md-12">
            <div class="form-group">
              <label for="email">Epost adresse</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Epost" required>
              {{ form.email.errors }}
            </div>
            <div class="form-group">
              <label for="first_name">Fornavn</label>
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Fornavn" required>
              {{ form.first_name.errors }}
            </div>
            <div class="form-group">
              <label for="last_name">Etternavn</label>
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Etternavn" required>
              {{ form.last_name.errors }}
            </div>

            <div class="form-group">
              <label for="phone_number">Telefonnummer</label>
              <input type="tel" class="form-control" id="phone_number" name="phone_number"
                     placeholder="Telefonnummer" required>
              {{ form.phone_number.errors }}
            </div>


            <div class="form-group">
              <label for="misc_info">Annen Informasjon</label>
              <textarea class="form-control" id="misc_info" name="misc_info" rows="3"></textarea>
            </div>
            <hr>
          </div>


          <h2 class="formTitle">Planter</h2>
          <div id="field" class="col-md-12 row">
            <div>
              <div id="field0" class="col-md-12">
                <div class="form-group col-md-4 col-xs-6">
                  <label for="exampleInputEmail1">Plante Navn</label>
                  <input type="text" class="form-control" name="plantName" id="plantName" placeholder="Plante navn">
                </div>
                <div class="form-group col-md-2 col-xs-6">
                  <label for="exampleInputEmail1">Størrelse</label>
                  <input type="text" class="form-control" name="size" id="size" placeholder="Størrelse">
                </div>
                <div class="form-group col-md-2 col-xs-6">
                  <label for="exampleInputEmail1">Antall</label>
                  <input type="number" class="form-control" name="amount" id="amount" placeholder="1">
                </div>
                <div class="form-group col-md-2 col-xs-6 lastInput">
                  <label for="exampleInputEmail1">Pris (Per stk)</label>
                  <input type="text" class="form-control" id="price" name="price" placeholder="Pris">
                </div>
              </div>
            </div>


          </div>
          <!-- Button -->
          <div class="col-md-12">
            <button id="add-more" name="add-more" class="btn btn-primary">Legg til ny rad</button>
          </div>
          <br><br>
          <div class="col-md-12">
            <button type="submit" class="btn  btn-success submitFormButton">Fullfør bestilling</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <script>
      $(document).ready(function () {
          //@naresh action dynamic childs
          var next = 0;
          $("#add-more").click(function (e) {
              e.preventDefault();
              var addto = "#field" + next;
              var addRemove = "#field" + (next) + ' .lastInput';
              next = next + 1;
              var newIn = ' <div id="field' + next + '" class="col-md-12" name="field' + next + '">' +
                  '<div class="form-group col-md-4 col-xs-6"><label for="exampleInputEmail1">Plante Navn</label><input type="text" class="form-control" name="plantName" id="plantName" placeholder="Plante Navn"></div><div class="form-group col-md-2 col-xs-6"><label for="exampleInputEmail1">Størrelse</label><input type="text" class="form-control" name="size" id="size" placeholder="Størrelse"></div><div class="form-group col-md-2 col-xs-6"><label for="exampleInputEmail1">Antall</label><input type="number" class="form-control" name="amount" id="amount" placeholder="1"></div><div class="form-group col-md-2 col-xs-6 lastInput"><label for="exampleInputEmail1">Pris (Per stk)</label><input type="text" class="form-control" id="price" name="price" placeholder="Pris"></div>' +
                  '</div>';
              var newInput = $(newIn);
              var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me col-md-2 col-xs-8" >Slett</button>';
              var removeButton = $(removeBtn);
              $(addto).after(newInput);
              $(addRemove).after(removeButton);
              console.log(addRemove);
              $("#field" + next).attr('data-source', $(addto).attr('data-source'));
              $("#count").val(next);

              $('.remove-me').click(function (e) {
                  e.preventDefault();
                  var myNumber = this.id.replace(/^\D+/g, '');
                  var fieldID = "#field" + myNumber;
                  console.log(fieldID);
                  console.log($(this));
                  $(this).remove();
                  $(fieldID).remove();
              });
          });

      });
  </script>
{% endblock Content %}