{% extends 'base.html' %}


{% block Content %}

  <div class="container">
    <main role="main">
      <div class="jumbotron frontpageCard">
        <h1>Velkommen til Hagevekster</h1>
        <p class="lead">Her er min nye nettside for bestilling av Rhododendron</p>
                  <h2>Slik gjør du:</h2><p>
        <ol style="font-size: larger">
        <li>Åpne <a  href="/bestille" target="_blank" style="color: orange">bestillingsskjema</a></li>
          <li>Fyll ut kontaktinformasjon</li>
          <li>Finn hvilke planter du ønsker fra <a href="http://www.rhodobutik.dk/shop/frontpage.html"
                                                        target="_blank" style="color: orange">Rohododendron-Haven</a></li>
          <li>Legg inn informasjon om hver plante under "Planter"</li>
          <li>Trykk "LEGG TIL NY RAD" for å få et nytt felt til å legge inn planter</li>
          <li>Når feltene er fylt ut, vennligst dobbelsjekk og trykk FULLFØR BESTILLING</li>
        </ol>
        </p>
        <p>Bestilling  til importer blir gjort i to omganger.<br>Fristen for å bli med på første vil være <b>10. Januar 2018.</b> <br>Siste frist vil være <b>20. Mars 2018</b></p>
        <p><a class="btn btn-lg btn-success" href="/bestille" role="button"style="color:black;">Gå til bestillingsskjema</a></p>
      </div>
    </main>
  </div> <!-- /container -->
{% endblock Content %}