{% extends 'base.html' %}


{% block Content %}

  <div class="container">
    <main role="main">
      <div class="jumbotron frontpageCard">
        <h1>Velkommen</h1>
        <p class="lead">Her er min nye nettside for bestilling av Rhododendron</p>
        <p><b>Hvordan Bestille</b><br>Bestillinger foretas helst her på nettsiden</p>
        <p>Importering blir gjort i 2 omganger, og fristen for å bli med på første vil være <b>21. Januar 2018.</b></p>
        <p><a class="btn btn-lg btn-success" href="/bestille" role="button">Gå til bestilling</a></p>
      </div>
    </main>
  </div> <!-- /container -->
{% endblock Content %}